<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902199159531-6p4fq9obelfttn9bia1nkc397ku34mar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902199159531-6p4fq9obelfttn9bia1nkc397ku34mar</string>
	<key>API_KEY</key>
	<string>AIzaSyCX1Two6D4-Pj3SslHvnbTPZHF-r4ygzYs</string>
	<key>GCM_SENDER_ID</key>
	<string>902199159531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kudesnik.Petbook</string>
	<key>PROJECT_ID</key>
	<string>petbook-6e5c2</string>
	<key>STORAGE_BUCKET</key>
	<string>petbook-6e5c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902199159531:ios:3ec07fa81d499f269eacae</string>
</dict>
</plist>